* {font-size: 14px;margin:0px;padding:0px;}
body{background:url("chrome-extension://__MSG_@@extension_id__/images/leftbg.jpg");}
#content{width:650px;}
#right{width:320px;float:left;height:230px;font-size:12px;overflow-y:hidden;}
#left{width:320px;float:left;height:230px;}
#result{width:120px;overflow-x:hidden;overflow-y:auto;height:228px;float:left;}
#table{
  border:1px solid orange;border-collapse: collapse;border-spacing: 0px;	
}
#info{margin-bottom:5px;overflow-x:hidden;}
#table  td{border:1px solid orange;}
.orange {border:1px solid orange;}
#buttons  div{border:1px solid orange;padding:3px;}
#buttons{float:left}
#warn{color:red;}
input[type="text"] {width:35px;}
input{font-size:12px;}
#left  div{border:1px solid orange;padding:3px;}