.clr{
	height:30px;
	display: block;
}
#toolbar{
	position: fixed;
	top: 0px;
	min-height: 30px;
	display: block;
	width: 100%;
	left: 0px;
	padding-bottom: 9px;
	background: #6A9ADB url(chrome-extension://__MSG_@@extension_id__/images/bg_toolbar.png) left bottom repeat-x;
}
#toolbar ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
#toolbar ul li{
	float: left;
	clear: none;
	padding: 0px 5px;
	line-height: 30px;
	height: 30px;
	display: block;
}
#toolbar input[type=button],
#toolbar input[type=text],
#toolbar select{
	padding: 2px 5px;
}
#toolbar input[name=jump_num],
#toolbar select{
	border: 1px #d3d3d3 solid;
	border-radius: 4px;
}
#toolbar input[name=jump_to]{
	margin-top: -1px;
}
.ui-button{
	margin-top: 2px;
}
.wysiwyg-input{
	width: 300px;
	min-height: 150px;
}
.click_show{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	border: 1px #ccc solid;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 5px 1px #cccccc;
	box-shadow: 0px 0px 5px 1px #cccccc;
	color: #FFF;
	background: #0078ae url("chrome-extension://__MSG_@@extension_id__/images/ui-bg_glass_45_0078ae_1x400.png") center center repeat-x;
	border-radius: 5px;
}
.click_show:hover{
	border: 1px solid #448dae;
	background: #79c9ec url(chrome-extension://__MSG_@@extension_id__/images/ui-bg_glass_75_79c9ec_1x400.png) center center repeat-x;
	font-weight: normal;
	color: #026890;
}
.click_show:active{
	background: #6eac2c url(chrome-extension://__MSG_@@extension_id__/images/ui-bg_gloss-wave_50_6eac2c_500x100.png) center center repeat-x;
}
